 <div 
    *ngIf="product.title" class="card" >
    <img *ngIf="product.imageUrl"  
        [src]="product.imageUrl" 
        class="card-img-top" 
        alt="product.title">
    <div class="card-body">
        <h4 class="card-title">{{product.title}}</h4>
        <p class="card-text">{{product.price|currency:'USD'}}</p>
    </div>
    <div *ngIf="showActions"  class="card-footer d-grid">
        <button
            *ngIf="getQuantity()===0;else updateQuantity" 
            (click)="addToCart(product)"
            class="btn btn-secondary ">
            Add to Cart
        </button>
        <ng-template #updateQuantity>
            <div class="row">
                <button class="col-2 btn btn-secondary">
                    -
                </button>
                <div class="col text-center">{{getQuantity()}} in cart</div>
                 <button class="col-2 btn btn-secondary">
                    +
                 </button>
            </div>
        </ng-template>
    </div>
</div>
