<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ |async as cart ">
    <p>
        You have {{ cart.totalItemsCount}} items in your shopping cart.
    </p>
    <table class="table">
        <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let productValue of cart.productValues">
                <td>
                    {{ productValue.product.title }}
                </td>
                <td>
                    {{ productValue.quantity }}
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</ng-container>